# ==========================================
# SupportPilot Backend Environment Config
# ==========================================

# 1. Persistent Database (PostgreSQL URL on Render / Local SQLite)
DATABASE_URL=

# 2. Django Security
DEBUG=True
SECRET_KEY=django-insecure-0yn3ty-hxfo@u612n6ii3618p-w_)l5)!7du&pk$=-bc96(3%l
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=https://ai-support-ticket-management.vercel.app,http://localhost:5173,http://localhost:5174
