# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtualenv
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment
.env

# VS Code
.vscode/

# PyCharm
.idea/
